vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Jun 2009 18:22:56 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|Facturado.asp ListaVentasporfecha.asp Cantidad_de_equipos_ingresados.asp ListaOrdenEstado.asp
vti_author:SR|TX-NOTEBOOK\\Nestor
vti_modifiedby:SR|TX-NOTEBOOK\\Nestor
vti_timecreated:TR|19 Jun 2009 18:22:56 -0000
vti_cacheddtm:TX|19 Jun 2009 18:22:56 -0000
vti_filesize:IR|7385
vti_cachedlinkinfo:VX|S|img/drop-down.gif S|img/drop-up.gif S|img/nav-left.gif S|img/nav-right.gif S|img/nav-left-x2.gif S|img/nav-right-x2.gif S|img/time-down.png S|img/time-up.png
vti_cachedsvcrellinks:VX|FSUS|src/css/img/drop-down.gif FSUS|src/css/img/drop-up.gif FSUS|src/css/img/nav-left.gif FSUS|src/css/img/nav-right.gif FSUS|src/css/img/nav-left-x2.gif FSUS|src/css/img/nav-right-x2.gif FSUS|src/css/img/time-down.png FSUS|src/css/img/time-up.png
