vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Jun 2009 18:22:56 -0000
vti_extenderversion:SR|12.0.0.4518
vti_author:SR|TX-NOTEBOOK\\Nestor
vti_modifiedby:SR|TX-NOTEBOOK\\Nestor
vti_timecreated:TR|19 Jun 2009 18:22:56 -0000
vti_cacheddtm:TX|19 Jun 2009 18:22:56 -0000
vti_filesize:IR|1998
vti_cachedlinkinfo:VX|S|brushed-steel.jpg S|brushed-steel.jpg S|coolbg.png S|coolbg.png S|coolbg.png S|gold.jpg S|coolbg.png S|coolbg.png S|brushed-steel.jpg S|../shadow-b.png
vti_cachedsvcrellinks:VX|FSUS|src/css/gold/brushed-steel.jpg FSUS|src/css/gold/brushed-steel.jpg FSUS|src/css/gold/coolbg.png FSUS|src/css/gold/coolbg.png FSUS|src/css/gold/coolbg.png FSUS|src/css/gold/gold.jpg FSUS|src/css/gold/coolbg.png FSUS|src/css/gold/coolbg.png FSUS|src/css/gold/brushed-steel.jpg FSUS|src/css/shadow-b.png
vti_backlinkinfo:VX|
