vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Mar 2018 17:29:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|SOPORTE3\\Nestor
vti_modifiedby:SR|SOPORTE3\\Nestor
vti_timecreated:TR|29 Mar 2018 17:29:08 -0000
vti_cacheddtm:TX|29 Mar 2018 17:29:08 -0000
vti_filesize:IR|2100
vti_cachedlinkinfo:VX|S|images/bg.gif S|images/header-bg.gif S|images/sort.gif S|images/header-selected-bg.gif S|images/desc.gif S|images/asc.gif
vti_cachedsvcrellinks:VX|NSUS|tabla/images/bg.gif NSUS|tabla/images/header-bg.gif NSUS|tabla/images/sort.gif NSUS|tabla/images/header-selected-bg.gif NSUS|tabla/images/desc.gif NSUS|tabla/images/asc.gif
vti_backlinkinfo:VX|
