vti_encoding:SR|utf8-nl
vti_author:SR|BGH\\Silver
vti_modifiedby:SR|BGH\\Silver
vti_timelastmodified:TW|08 Jun 2016 19:59:39 -0000
vti_timecreated:TR|06 Jun 2016 15:24:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|default.asp principal.asp cpedido.asp
vti_nexttolasttimemodified:TW|08 Jun 2016 19:59:39 -0000
vti_cacheddtm:TX|08 Jun 2016 19:59:39 -0000
vti_filesize:IR|561
